<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} -- my life in photos</title>

    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/zoom.css" />
    <link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).on('keydown', e => {
            if (e.keyCode === 37) { // left key
                $("#leftArrow")[0].click();
            } else if (e.keyCode === 39) {// right key
                $("#rightArrow")[0].click();
            }
        });
    </script>
</head>
<body>
<div id="wrapper">
    <div id="header" class="signika">
        <a href="/"><img src="/img/logo.png" /></a><br>
        <a href="/moment/{{alias}}"><h3 class="signika">{{title}}</h3></a>
    </div>
    <div id="content">

        {{#ifNotFirst images image}}
            <a id="leftArrow" href="/moment/{{../alias}}/{{cycleLeft ../images this}}">&laquo;</a>
        {{/ifNotFirst}}

        {{#notFirstOrLast images image}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{/notFirstOrLast}}

        {{#ifNotLast images image}}
            <a id="rightArrow" href="/moment/{{../alias}}/{{cycleRight ../images this}}">&raquo;</a>
        {{/ifNotLast}}

        <br><br>
        <img src="/img/moments/{{alias}}/{{image}}" />
    </div>
    <br>
    <div id="footer">
        <p class="signika"><a target="_blank" href="https://instagram.com/williamgburns/">@williamgburns</a> -- last updated, 17th march 2020</p>
    </div>
</div>
</body>
</html>